{% block body %}

{% trans_default_domain '@FOSUserBundle' %}
<div class="container cadreUser margeTop5 margeBot10 black">

    <h1 class="text-center page-header titre-regi">Création de compte</h1>
    
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.firstName.setRendered %} 
                {% if not form.firstName.vars.valid %} 
                {% for error in form.firstName.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.username) }}
                {{ form_widget(form.username,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.username.setRendered %} 
                {% if not form.username.vars.valid %} 
                {% for error in form.username.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
        </div>
    </div>
    
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.email.setRendered %} 
                {% if not form.email.vars.valid %} 
                {% for error in form.email.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.pseudo.setRendered %} 
                {% if not form.pseudo.vars.valid %} 
                {% for error in form.pseudo.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
        </div>
    </div>
    
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                {{ form_label(form.siret) }}
                {{ form_widget(form.siret,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.siret.setRendered %} 
                {% if not form.siret.vars.valid %} 
                {% for error in form.siret.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.address) }}
                {{ form_errors(form.address) }}
                {{ form_widget(form.address,{ 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                {{ form_label(form.pc) }}
                {{ form_errors(form.pc) }}
                {{ form_widget(form.pc,{ 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city,{ 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                {{ form_label(form.entreprise) }}
                {{ form_errors(form.entreprise) }}
                {{ form_widget(form.entreprise,{ 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.phoneNumber.setRendered %} 
                {% if not form.phoneNumber.vars.valid %} 
                {% for error in form.phoneNumber.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                {{ form_label(form.siteWeb) }}
                {{ form_errors(form.siteWeb) }}
                {{ form_widget(form.siteWeb,{ 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.lienSiteWeb) }}
                {{ form_widget(form.lienSiteWeb,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.lienSiteWeb.setRendered %} 
                {% if not form.lienSiteWeb.vars.valid %} 
                {% for error in form.lienSiteWeb.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
        </div>
    </div>
    
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.plainPassword.first.setRendered %} 
                {% if not form.plainPassword.first.vars.valid %} 
                {% for error in form.plainPassword.first.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control'}}) }}
                {% do form.plainPassword.second.setRendered %} 
                {% if not form.plainPassword.second.vars.valid %} 
                {% for error in form.plainPassword.second.vars.errors %}
                    <strong class="text-danger">
                        {{ error.message }}
                    </strong>
                    {% endfor %} {% endif %}
            </div>
            
            <div class="col-xs-offset-2 col-xs-8">
                <div class="text-center">
                    <button type="submit" class="btn btn-block btn-regi margeBot5">{{ "S'enregistrer"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    
    {{ form_end(form) }}
</div>

{# Bouton de retour en arrière #}
<div class="container margeTop5">
    <div class="row margeBot5">
        <div class="col-md-4">
            <form>
                <button class="btn btn-md btn-default" type="button" onclick="history.go(-1)">
                    <i class="fa fa-arrow-circle-left"></i> Retour</button>
            </form>
        </div>
    </div>
</div>
{# Fin Bouton de retour en arrière #}
    {% endblock %}