{% block body %}

{% trans_default_domain 'FOSUserBundle' %} 

<div class="container cadreUser paddG5 margeTop5 margeBot5">
    <div class="row">
        <div class="col-md-10 ">

                <fieldset>

                    {#  Form Name  #}
                    <h2 class="page-header">Modifier mes informations</h2>

                    {#  Text input #}

                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal margeTop10' } }) }}

                    {% set class = '' %}

                    {% if not form.username.vars.valid %}

                        {% set class = 'has-error' %}
                    
                    {% endif %}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="username">{{ form_label(form.username) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user">
                                    </i>
                                </div>
                                {{ form_widget(form.username, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    {#  Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="prenom">{{ form_label(form.firstname) }}</label>
                        <div class="col-md-4">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>

                                </div>
                                {{ form_widget(form.firstname) }}
                            </div>
                        </div>
                    </div>


                    {#  Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="pseudo">{{ form_label(form.pseudo) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>

                                </div>
                                {{ form_widget(form.pseudo) }}
                            </div>
                        </div>
                    </div>
                    
                    {#  Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addresse">{{ form_label(form.address) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>

                                </div>
                                {{ form_widget(form.address) }}
                            </div>
                        </div>
                    </div>
                    
                    {#  Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ville">{{ form_label(form.city) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>

                                </div>
                                {{ form_widget(form.city) }}
                            </div>

                        </div>
                    </div>
                    
                    {#  Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="codePostal">{{ form_label(form.pc) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>

                                </div>
                                {{ form_widget(form.pc) }}
                            </div>

                        </div>
                    </div>

                    {# Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="entreprise">entreprise</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                    
                                </div>
                                <input id="Mother" name="Mother" type="text" placeholder="Nom de l'entreprise" class="form-control input-md">
                            </div>
                    
                        </div>
                    </div>
                    
                    {# Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="entreprise">{{ form_label(form.siret) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                    
                                </div>
                                {{ form_widget(form.siret) }}
                            </div>
                    
                        </div>
                    </div>
                    
                    {# Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="entreprise">Téléphone</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-earphone"></i>
                    
                                </div>
                                <input id="Mother" name="Mother" type="text" placeholder="Numero entreprise" class="form-control input-md">
                            </div>
                    
                        </div>
                    </div>



                    {#  Text input #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Email Address">{{ form_label(form.email) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>

                                </div>
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }}
                            </div>

                        </div>
                    </div>
                    
                    {#  Text input #}
                    {% set class = '' %}

                    {% if not form.current_password.vars.valid %}

                        {% set class = 'has-error' %}
                    
                    {% endif %}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Email Address">{{ form_label(form.current_password) }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>

                                </div>
                                {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% do  form.current_password.setRendered %}
                                {% if not form.current_password.vars.valid %}

                                    {% for error in form.current_password.vars.errors %}

                                        <span class="text-danger">
                                            {{ error.message }}
                                        </span>
                                    
                                    {% endfor %}
                                
                                {% endif %}

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <div>
                                <input class="btn btn-block btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                            </div>
                        </div>
                    </div>

                </fieldset>
            {{ form_end(form) }}
        </div>
        <div class="col-md-2 hidden-xs">
            <img src="http://websamplenow.com/30/userprofile/images/avatar.jpg" class="img-responsive img-thumbnail ">
        </div>


    </div>
</div>

    
    
{% endblock %}


