{% trans_default_domain 'FOSUserBundle' %}

{% dump(form) %}

<div class="container cadreUser margeTop5 black">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}

            <fieldset>

                {#  Form Name  #}
                <h2 class="text-center page-header">Modification du mot de passe</h2>
        
                {#  Password input #}
                <div class="form-group">
                    <label class="col-md-4 control-label" for="piCurrPass">{{ form_label(form.current_password)}}</label>
                    <div class="col-md-4">
                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'}})}}
                        {% do  form.current_password.setRendered %}
                                {% if not form.current_password.vars.valid %}

                                    {% for error in form.current_password.vars.errors %}

                                        <span class="text-danger">
                                            {{ error.message }}
                                        </span>
                                    
                                    {% endfor %}
                                
                                {% endif %}
                    </div>
                </div>
        
                {#  Password input #}
                <div class="form-group">
                    <label class="col-md-4 control-label" for="piNewPass">{{form_label(form.plainPassword.first)}}</label>
                    <div class="col-md-4">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'}})}}
                        {% do  form.plainPassword.first.setRendered %}
                                {% if not form.plainPassword.first.vars.valid %}

                                    {% for error in form.plainPassword.first.vars.errors %}

                                        <span class="text-danger">
                                            {{ error.message }}
                                        </span>
                                    
                                    {% endfor %}
                                
                                {% endif %}
                    </div>
                </div>
        
                {#  Password input #}
                <div class="form-group">
                    <label class="col-md-4 control-label" for="piNewPassRepeat">{{ form_label(form.plainPassword.second)}}</label>
                    <div class="col-md-4">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'}})}}
                        {% do  form.plainPassword.second.setRendered %}
                                {% if not form.plainPassword.second.vars.valid %}

                                    {% for error in form.plainPassword.second.vars.errors %}

                                        <span class="text-danger">
                                            {{ error.message }}
                                        </span>
                                    
                                    {% endfor %}
                                
                                {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="bCancel"></label>
                    <div class="col-md-8">
                        <button type="submit" id="bGodkend" name="bGodkend" class="btn btn-success">{{ 'change_password.submit'|trans }}</button>
                    </div>
                </div>
        
            </fieldset>
        
        {# <div>
            <input type="submit" value="" />
        </div> #}
    {{ form_end(form) }}

</div>
