{% trans_default_domain 'FOSUserBundle' %}

<title>
    Modification du mot de passe
</title>

{% dump(form) %}

<div class="container cadreUser margeTop5 black">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}

            <fieldset>

                {#  Form Name  #}
                <h2 class="text-center page-header">Modification du mot de passe</h2>
        
                {#  Password input #}
                <div class="form-group font20">
                    <label class="col-md-4 control-label" for="piCurrPass">{{ form_label(form.current_password)}}</label>
                    <div class="col-md-4">
                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'}})}}
                        {% do  form.current_password.setRendered %}
                                {% if not form.current_password.vars.valid %}

                                    {% for error in form.current_password.vars.errors %}

                                        <span class="text-danger">
                                            {{ error.message }}
                                        </span>
                                    
                                    {% endfor %}
                                
                                {% endif %}
                    </div>
                </div>
        
                {#  Password input #}
                <div class="form-group font20">
                    <label class="col-md-4 control-label" for="piNewPass">{{form_label(form.plainPassword.first)}}</label>
                    <div class="col-md-4">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'}})}}
                        {% do  form.plainPassword.first.setRendered %}
                                {% if not form.plainPassword.first.vars.valid %}

                                    {% for error in form.plainPassword.first.vars.errors %}

                                        <span class="text-danger">
                                            {{ error.message }}
                                        </span>
                                    
                                    {% endfor %}
                                
                                {% endif %}
                    </div>
                </div>
        
                {#  Password input #}
                <div class="form-group font20">
                    <label class="col-md-4 control-label" for="piNewPassRepeat">{{ form_label(form.plainPassword.second)}}</label>
                    <div class="col-md-4">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'}})}}
                        {% do  form.plainPassword.second.setRendered %}
                                {% if not form.plainPassword.second.vars.valid %}

                                    {% for error in form.plainPassword.second.vars.errors %}

                                        <span class="text-danger">
                                            {{ error.message }}
                                        </span>
                                    
                                    {% endfor %}
                                
                                {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="bCancel"></label>
                    <div class="col-md-4">
                        <button type="submit" id="bGodkend" name="bGodkend" class="btn btn-success btn-block font20">{{ 'change_password.submit'|trans }}</button>
                    </div>
                </div>
        
            </fieldset>
        
    {{ form_end(form) }}

</div>
{# Bouton de retour en arrière #}
<div class="container margeTop5">
    <div class="row margeBot5">
        <div class="col-md-4">
            <form>
                <button class="btn btn-md btn-default" type="button" onclick="history.go(-1)">
                    <i class="fa fa-arrow-circle-left"></i> Retour</button>
            </form>
        </div>
    </div>
</div>
{# Fin Bouton de retour en arrière #}
