<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Ma-Pause-Mode{% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/marge.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontSize.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        
        <!-- Début NavBar -->

        {% block navbar %}
            {% include('navbar.html.twig') %}
        {% endblock %}

        <!-- fin NavBar -->

        
        {% block body %} {% endblock %}
        
        

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>