<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Ma-Pause-Mode{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('ico.png') }}"/>
        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
    </head>
    <body>
        <div class='container-fluid'>
            <div class='col-md-offset-2 col-md-8'>
                {% include('navbar.html.twig') %}
            </div>
            
        </div>
        

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>