<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Ma-Pause-Mode{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('ico.png') }}"/>
        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    </head>
    <body>

        {% include('navbar.html.twig') %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>