{% block navbar %} {# logo du site #}

{# {% if 'noni_admin_question_' in app.request.attributes.get('_route') %} class="active"{% endif %} #}

<div class="container hidden-xs">
    <div class="row">
        <img class="center-block img-responsive" src="{{ asset('img/ma-p-m.PNG') }}" width="246" height="253" alt="logo">
    </div>
</div>
{# fin logo du site #}

<!-- Début NavBar md et lg -->

{# /////////////////////////////////////////////////// #}

        <nav class="navbar navbar-center navbarMod margeTop5 font20  hidden-sm hidden-xs">
            <div class="container-fluid text-uppercase">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navLg">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-sm-12 col-lg-9 col-lg-offset-3">
                    <div class="collapse navbar-collapse" id="navLg">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="{{ path('homepage') }}" class="btn-nav">Accueil</a>
                            </li>

                            {% for valeur, section in sectionsId %}
                            <li>
                                {% dump(valeur) %}
                                {# <a href=" {{ path('article_section', { 'id': section.id }) }} " class="btn-nav">{{ section.name }}</a> #}
                            </li>
                            {% endfor %}
                            
                            <li>
                                <a href="#" class="btn-nav">A Propos</a>
                            </li>
                            <li>
                                <a href="#" class="btn-nav">Contact</a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    
                            <li class="dropdown">
                                <a class="dropdown-toggle btn-nav" data-toggle="dropdown" href="#">{{ app.user.username }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="btn-nav" href=" {{ path('fos_user_profile_show') }} ">Mon Profil</a>
                                    </li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li>
                                        <a class="btn-nav" href=" {{ path('easyadmin') }} ">Administrer le site</a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}" class="btn-nav">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}" class="btn-nav">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>



{# Fin navbar md et lg #}

{# Debut navbar xs et sm #}

<nav class="navbar navbarMod hidden-lg hidden-md">
    <div class="container-fluid text-uppercase">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbarMod butonBord" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar span-black"></span>
                <span class="icon-bar span-black"></span>
                <span class="icon-bar span-black"></span>
            </button>
            <a class="navbar-brand visible-xs" href="{{ path('homepage') }}">
                <img class="center-block img-responsive" src="{{ asset('img/ma-p-m.PNG') }}" alt="logo">
            </a>
        </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="btn-nav" href=" {{ path('homepage') }} ">Accueil</a>
                    </li>
                    <li>
                        <a class="btn-nav" href="#">Mode</a>
                    </li>
                    <li>
                        <a class="btn-nav" href="#">Tendances</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle btn-nav" data-toggle="dropdown" href="#">Créateurs
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="btn-nav" href="#">Près de chez vous !</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn-nav" href="#">A Propos</a>
                    </li>
                    <li>
                        <a class="btn-nav" href="#">Contact</a>
                    </li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="dropdown">
                            <a class="dropdown-toggle btn-nav" data-toggle="dropdown" href="#">{{ app.user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="btn-nav" href="#">Mon Profil</a>
                                </li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li>
                                        <a class="btn-nav" href=" {{ path('easyadmin') }} ">Administrer le site</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn-nav">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}" class="btn-nav">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        {% endif %}
                        </a>
                </ul>
            </div>
        </div>
    </div>
</nav>

{# Fin navbar xs et sm #}

{% endblock %}