{% extends 'base.html.twig' %}

{% block body %} {% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

<div class="container margeTop5 margeBot10">
    <div class="jumbotron cadreUser black">
        <div class="row">
            <div class="col-md-4 hidden-xs hidden-sm col-lg-2 margeTop15">
                <img height="300" width="300" src="{{ asset('uploads/images/Users/' ~ user.imageProfil) }}" alt="stack photo" class="">
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-12 col-sm-6 col-sm-offset-3 col-lg-7 col-lg-offset-3">
                <div class="container">
                    <h1> {{ user.username }} {{ user.firstName}} </h1>
                </div>
                <hr>
                <ul class="container details margeTop10">
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-user" style="width:50px;"></span>{{ user.pseudo }}</p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>{{ user.phoneNumber }}</p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{user.email}}</p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>
                            {{ user.address }} {{ user.pc }} {{ user.city }}
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-briefcase" style="width:50px;"></span>
                            {{ user.entreprise }}
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-asterisk" style="width:50px;"></span>
                            N° Siret {{ user.siret }}
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-new-window one" style="width:50px;"></span>
                            <a target="blank" href="{{ user.lienSiteWeb }}">{{ user.siteWeb }}</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-danger text-center">Voulez-vous supprimer votre compte?</h3>
                </div>
                <p class="text-danger text-center font15">Cette action est irréversible.</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-md btn-danger" href=" {{ path('app_user_delete', { 'id': user.id }) }}">Supprimer</a>
                </div>
            </div>

        </div>
    </div>


    {% endblock %}