{% extends 'base.html.twig' %}


    {% block title %}
        profil de {{ user.firstName }}
    {% endblock %}


{% block body %} {% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

<div class="container margeTop10 margeBot5 font20">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg" />
                        </div>
                        <div class="user">
                            {% if user.imageProfil is not empty %}
                                <img class="img-circle" src="{{ asset('uploads/images/Users/' ~ user.imageProfil) }}" />
                            {% else %}
                                <i class="fa fa-user img-circle" aria-hidden="true"></i>
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="main text-center">
                                <h3 class="name">{{ user.username }} {{ user.firstName }}</h3>
                                <p class="profession">{{ user.entreprise }}</p>
                                <a class="lienProfile" target="blank" href="{{ user.lienSiteWeb }}"> {{ user.siteWeb }} </a>
                            </div>
                            <div class="footer">
                                <button class="btn btn-md btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> Plus d'information
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Information sur l'auteur</h5>
                        </div>
                        <div class="content">
                            <div class="main text-center">
                                <h3 class="text-center">{{ user.entreprise }}</h3>
                                <p class="text-center">n° siret : {{ user.siret }}</p>
                                <p class="text-center">{{ user.address }}</p>
                                <p class="text-center">{{ user.pc }}</p>
                                <p class="text-center">{{ user.city }}</p>

                                <div class="stats-container margeTop5 margeBot5">
                                    <div class="stats">
                                        <h4>
                                            <a class="lienProfile" href="mailto:{{ user.email }} ?subject=Contact via ma pause mode &body=Votre message ici" class="text-center"><i class="fa fa-envelope-o"></i></a>
                                        </h4>
                                        <p>
                                            Contacter le créateur
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4 class="lienProfile"> {{ user.articles|length }}</h4>
                                        <p>
                                            Articles sur le site
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4><i class="fa fa-mobile"></i> {{ user.phoneNumber }}</h4>
                                        <p>
                                            Téléphone
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Retour
                            </button>
                            <div class="social-links text-center margeTop5">
                                {% if user.facebook is not empty %}
                                
                                <a target="blank" class="lienProfile" href="{{ user.facebook }}" class="facebook">
                                    <i class="fa fa-facebook fa-fw"></i>
                                </a>
                                
                                {% endif %} 
                                
                                {% if user.google is not empty %}
                                
                                <a target="blank" class="lienProfile" href="{{ user.google }}" class="google">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                </a>
                                
                                {% endif %} 
                                
                                {% if user.pinterest is not empty %}
                                
                                <a target="blank" class="lienProfile" href="{{ user.pinterest }}" class="twitter">
                                    <i class="fa fa-pinterest fa-fw"></i>
                                </a>
                                
                                {% endif %} 
                                
                                {% if user.instagram is not empty %}
                                
                                <a target="blank" class="lienProfile" href="{{ user.instagram }}" class="twitter">
                                    <i class="fa fa-instagram fa-fw"></i>
                                </a>
                                
                                {% endif %} 
                                
                                {% if user.twitter is not empty %}
                                
                                <a target="blank" class="lienProfile" href="{{ user.twitter }}" class="twitter">
                                    <i class="fa fa-twitter fa-fw"></i>
                                </a>
                                
                                {% endif %}
                                
                                {% if user.youtube is not empty %}
                                
                                <a target="blank" class="lienProfile" href="{{ user.youtube }}" class="twitter">
                                    <i class="fa fa-youtube fa-fw"></i>
                                </a>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- end back panel -->
                </div>
                <!-- end card -->
            </div>
            <!-- end card-container -->
        </div>
        <!-- end col sm 3 -->
    </div>
</div>
{# Fin du container #}

    <!-- end row -->
        {# Bouton de retour en arrière #}
        <div class="container">
            <div class="row margeBot5">
                <div class="col-md-4">
                    <form>
                        <button class="btn btn-md btn-default" type="button" onclick="history.go(-1)">
                            <i class="fa fa-arrow-circle-left"></i> Retour</button>
                    </form>
                </div>
            </div>
        </div>
        {# Fin Bouton de retour en arrière #}
    {% endblock %}
    

    {% block javascripts %}
    <script src="{{ asset('js/flipCard.js') }}"></script>
    {% endblock %}