{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="col-xs-offset-2 col-xs-8 col-sm-8  container cadreUser paddG5 margeTop5 margeBot5 black">
        <div class="row">
            <div class="col-xs-8 col-sm-12 col-xs-12">
                <h2 class="page-header">Contactez moi</h2>
                <p>Je suis toujours curieuse de découvrir de jeunes créateurs internationaux, nouvelles marques ou être avertie de toute actualité de ce domaine de prédilection qu'est pour moi la mode et l'habillement.
                    <br>
                    <br>
                    N'hésitez pas à me contacter par mail, via le formulaire de contact ou encore sur les réseaux sociaux.
                    <br>
                    Contact direct:
                    <br>
                    e-mail: sonia@mapausemode.com Toulouse, France.

                </p>
            </div>
            {{ form_start(form) }}
            <br>
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-8 col-xs-12 ">
                        <div>
                            {{ form_errors(form.subject) }}
                            {{ form_widget(form.subject,{ 'attr': {'class': 'form-control'}}) }}
                            <br>
                        </div>
                        <div>
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name,{ 'attr': {'class': 'form-control'}}) }}
                            <br>
                        </div>
                        <div>
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email,{ 'attr': {'class': 'form-control'}}) }}
                            <br>
                        </div>
                        <div>
                            {{ form_errors(form.message) }}
                            {{ form_widget(form.message,{ 'attr': {'class': 'form-control'}}) }}
                        </div>

                        {# Render CSRF token etc .#}
                        <div style="display:none">
                            {{ form_rest(form) }}
                        </div>
                        <br>
                        <input class="btn btn-block btn-regi margeBot5" type="submit" value="Envoyer">

                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
</div>

{% endblock %}