{% extends 'base.html.twig' %}

    {% block title %}
        Contact
    {% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="col-xs-offset-1 col-xs-10 col-lg-8 col-lg-offset-2 police container cadreUser paddG5 margeTop5 margeBot10 black">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="page-header">Contactez moi</h2>

                <p>Je suis toujours curieuse de découvrir de jeunes créateurs internationaux, nouvelles marques ou être avertie de toute actualité de ce domaine de prédilection qu'est pour moi la mode et l'habillement.
                    <br>
                    <br>
                    N'hésitez pas à me contacter par mail, via le formulaire de contact ou encore sur les réseaux sociaux.

                    <br>
                    Contact direct:
                    <br>
                    e-mail: sonia@mapausemode.com Toulouse, France.

                </p>
            </div>
        </div>        

        <div class="row">
            <div class="col-sm-8 col-lg-8 margeTop5">
                {{ form_start(form) }}
                <div>
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject,{ 'attr': {'class': 'form-control'}}) }}
                    <br>
                </div>
                <div>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name,{ 'attr': {'class': 'form-control'}}) }}
                    <br>
                </div>
                <div>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email,{ 'attr': {'class': 'form-control'}}) }}
                    <br>
                </div>
                <div>
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message,{ 'attr': {'class': 'form-control'}}) }}
                </div>

                {# Render CSRF token etc .#}
                <div style="display:none">
                    {{ form_rest(form) }}
                </div>
                <br>
                <input class="btn btn-block btn-regi margeBot5" type="submit" value="Envoyer">

                {{ form_end(form) }}
            </div>
        </div>
    </div>

        {# Bouton de retour en arrière #}
        <div class="container margeTop5">
            <div class="row margeBot5">
                <div class="col-md-4">
                    <form>
                        <button class="btn btn-md btn-default" type="button" onclick="history.go(-1)">
                            <i class="fa fa-arrow-circle-left"></i> Retour</button>
                    </form>
                </div>
            </div>
        </div>
        {# Fin Bouton de retour en arrière #}
{% endblock %}