{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    {% autoescape %}
        <h1 class="text-center page-header">Edition de larticle {{ article.title|raw }}</h1>
    {% endautoescape %}
</div>

{{ form_start(edit_form) }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center margeTop10">
                <h1>{{ form_label(edit_form.title) }}</h1>
                {{ form_widget(edit_form.title) }}
                {{ form_errors(edit_form.title) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center margeTop10">
                <h1>{{ form_label(edit_form.content) }}</h1>
                {{ form_widget(edit_form.content, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(edit_form.content) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center margeTop5">
                <h1>{{ form_label(edit_form.description) }}</h1>
                {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control font20'} }) }}
                {{ form_errors(edit_form.description) }}
            </div>
        </div>
        <div class="row margeTop10">
            <div class="col-xs-12">
                <input class="btn btn-success btn-block font25" type="submit" value="Editer l'article" />
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
