{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row text-center">
        <h1>Mode</h1>
    </div>

    <div class="row">
        <ul class="list-inline text-center">
            <li>Titre</li>
            <li>Description</li>
            <li>Date</li>
            <li>Mise à jour</li>
            <li>Voir</li>
            <li>Editer</li>
        </ul>
    </div>

    {% for article in articles %}

    <div class="row">
        <ul class="list-unstyled">
            <li>{% autoescape %}
                    {{ article.title|raw }}
                {% endautoescape %}
            </li>
            <li>{{ article.description }}</li>
            <li>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</li>
            <li>{% if article.dateUpdate %}{{ article.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</li>
            <li><a href="{{ path('article_show', { 'id': article.id }) }}">Voir l'article</a></li>
            <li><a href="{{ path('article_edit', { 'id': article.id }) }}">Editer l'article</a></li>
        </ul>
    </div>

    {% endfor %}

    <div class="row text-center">
        <a class="btn btn-block btn-success" href="{{ path('article_new') }}">Create a new article</a>
    </div>
    
    
</div>
{% endblock %}
