{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="col-sm-12 col-xs-12"> 
<div class="text-center">
<img src="{{ asset('uploads/images/Article/' ~ article.image) }}" width="100%"  alt="Image d'article">
</div>
</div>
</div>
<br>

<div class="container">
            {{article.title|raw}}

    <div class="row">
        <div class="col-xs-12">
            {% autoescape %}
                {{ article.content|raw}}
            {% endautoescape %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% if article.date %}
                <p>article créer le : {{ article.date|date('d-F-Y') }}</p>
            {% endif %}
            {% if article.dateUpdate %}
                <p>article éditer le : {{ article.dateUpdate|date('d-F-Y à H:i') }}</p>
            {% endif %}
        </div>
    </div>
</div>


    <ul>
        <li>
            {# <a href="{{ path('article_section', { 'id': 1 }) }}">Back to the list</a> #}
            <form>
                <input type="button" value="back" onclick="history.go(-1)">
            </form>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
